<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
 --><!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"> -->
<style>
.not-organic {display: none;}
/* .w3-row img {margin-bottom: -8px} */
</style>
</head>


        <div style="display: table-row;">
            <div style="display: table-cell;border: solid;text-align: center;background-color: orangered;width: 200px; font-size: x-large;" >{%IMAGE%} </div>
            <div style="display: table-cell;border: solid;text-align: center;background-color: gold;width: 200px;font-size: x-large;" >{%PRODUCTNAME%} </div>
            <div style="display: table-cell;border: solid;text-align: center;background-color: greenyellow;width: 200px;font-size: x-large; " ><h5 class='{%ORGANIC%}'>ORGANIC</h5></div>
            <div style="display: table-cell;border: solid;text-align: center;background-color: yellow;width: 200px;font-size: x-large;" >{%QUANTITY%} per 🎁🎁🎁</div>
            <div style="display: table-cell;border: solid;text-align: center;background-color: blueviolet;width: 200px;font-size: x-large;" >{%PRICE%} $</div>
            <div style="display: table-cell;border: solid;text-align: center;background-color: palevioletred;width: 200px;font-size: x-large;" ><a href="/product?id={%ID%}">Details!</a> </div>
        </div>
       
    
     
       
    </div> 
    </body>
</html> 

<!-- <div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;"> Left </div>
        <div style="display: table-cell;"> Right </div>
    </div>
    class="{%ORGANIC%}" 
</div> -->