<html>
<head>
    <title>node farm product pvt ltd</title>
<meta charset="UTF-8">
    <style>
 .label{
    background-color:darkgreen;padding: 20px;

 }
 .data{
    background-color:lightgreen;padding: 20px;

 }
 img{
    width: 100%;
 }
    </style>
</head>
<body>
    
    <div style="display: flex; flex-direction: column; margin: auto; width: 40%; height: 80%; background-color: lightgreen;text-align: center; align-content: center;">
 <img src="../Pictures/gurleen_for_node.png" alt="avocado" width="128" height="128" >        
 <img src="https://www.imgonline.com.ua/examples/random-pixels-big.png" alt="avocado" width="128" height="128" >
 <img src="https://i.ibb.co/YtJccpv/gurleen-for-node.png" alt="avocado" width="128" height="128" >
 <div class="label">fresh avocado</div>
<div class="data" > from , quantity , benefit , price </div>
<div class="label" >add to shopping cart ($6.50)</div>
<div class="data">discription</div>
    </div>
</body>

</html>

